extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  main(id="main-doc")
    section(class="main-section")
      header Topic 1
    section(class="main-section")
      header Topic 2
    section(class="main-section")
      header Topic 3
    section(class="main-section")
      header Topic 4
    section(class="main-section")
      header Topic 5

block scripts
  script(src='/js/client.min.js')
