extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  main(id="main-doc")
    section(class="main-section")
    section(class="main-section")
    section(class="main-section")
    section(class="main-section")
    section(class="main-section")

block scripts
  script(src='/js/client.min.js')
