@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');

html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  padding-top: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.nav-link {
  margin-left: 7px;
}

.u-full-height {
  height: 100vh;
}

#navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  background: black;
  color: white;
  opacity: .65;
}